<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta  charset="UTF-8" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>YFTools 工具</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/v4-shims.min.css">
    <link rel="stylesheet" th:href="@{/css/style-purple.css}">
    <link rel="stylesheet" href="/css/sidebar-menu.css">
    <link rel="stylesheet" href="/css/mycss.css">
</head>
<body>
<div>
    <div th:insert="~{navigation :: NAV}"></div>
    <div class="main-content" style="min-height: 623px;">
        <section class="section">
            <div class="section-header">
                <h1>工具</h1>
                <div class="section-header-breadcrumb">
                    <div id="checkin-div" class="breadcrumb-item active">
                        <a href="#" class="btn btn-icon icon-left btn-primary"><i class="far fa-calendar-check"></i> 每日签到</a>
                    </div>
                </div>
            </div>
            <!-- 具体内容-->
            <div class="alert alert-primary">
                公告~
            </div>
            <!-- 视频一栏-->
            <div class="row">
                <!--  视频播放-->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">视频播放</h5>
                            <p class="card-text">同步卫视 各方频道 快来点击观看把~</p>
                            <a href="/tools/movie/mPlayer" class="btn btn-primary">点击播放</a>
                        </div>
                    </div>
                </div>
                <!--  直播源API-->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">直播源API</h5>
                            <p class="card-text">直播源接口 快来使用把~</p>
                            <a href="/tools/movie/course" class="btn btn-primary btn-movie-api">使用教程</a>
                        </div>
                    </div>
                </div>
                <!--  解析视频 -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">解析视频</h5>
                            <p class="card-text">支持 腾讯 爱奇艺 优酷 等各大网站~</p>
                            <a href="#" class="btn btn-primary">点击使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 聊天工具-->
            <div class="row">
                <!--  聊天频道-->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">聊天频道</h5>
                            <p class="card-text">快点击加入进来和小伙伴尬聊吧</p>
                            <a href="/tools/chat" class="btn btn-primary">迅速加入</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 弋凡翻译-->
            <div class="row">
                <!--  弋凡翻译-->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">YFS翻译</h5>
                            <p class="card-text">不懂得单词快来点击认识吧！</p>
                            <a href="/tools/translate" class="btn btn-primary">翻翻译译</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <input type="hidden" id="name" th:value="${session.user.uname}">
        <input type="hidden" id="token" th:value="${session.user.utoken}">
    </div>

</div>
</body>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
<script src="/js/sidebar-menu.js" ></script>
<script src="/js/my.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

<script>
    $(function () {
        $("#myIndex").removeClass("active");
        $("#myTools").addClass("active");
        $("#myAccount").removeClass("active");
        $("#myProfile").removeClass("active");
        $("#myInvite").removeClass("active");

        $(".btn-movie-api").click(function () {
            $.ajax({
                url: '/user/movie/getMData',
                type: 'post',
                data: {
                    name: $("#name").val() ,
                    token: $("#token").val()
                },
                dataType: 'json',
                success: function (res) {
                    //   console.log(res)
                }
            })
        });

    })
</script>

</html>